{% extends 'administrator/base.html' %}
{% load static %}

{% block title %}
EVEREST | ADMIN: {{ request.user.username }}
{% endblock %}

{% block content %}

<main class="">
  <!-- start Popup -->
  {% for message in messages %}
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible"
            style="z-index: 2; background-color: #C0392B; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
            <strong>{{ error|escape }}</strong>
            <button type="button" class="close btn btn-interact text-white" data-dismiss="alert"
              style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <p class="alert alert-danger alert-link alert-dismissible text-white"
        style="z-index: 2; background-color: #C0392B; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
        {{ message }}
        <button type="button" class="close btn btn-interact" data-dismiss="alert"
          style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
      </p>
    {% else %}
      <p class="alert alert-success alert-link alert-dismissible text-white"
        style="z-index: 2; background-color: #27AE60; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
        {{message}}
        <button type="button" class="close btn btn-interact" data-dismiss="alert"
          style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
      </p>
    {% endif %}
  {% endfor %}
  <!-- end Popup -->
  
  <!-- transactions cards -->
  <div class="container-fluid">
    <div class="row">
      <div class="col container-fluid">
        <div class="card text-white bg-success mb-3">
          <div class="card-header">
            <h6 class="card-title" style="font-weight: bold; text-transform: uppercase;">Approved Transactions</h6>
          </div>
          <div class="card-body d-flex">
            <i class="fas fa-clipboard-check fa-3x"></i>
            <h5 class="card-title" style="font-size: 3rem; margin-left: 1rem; font-weight: bold;">{{ approved }}</h5>
          </div>
        </div>
      </div>

      <div class="col container-fluid">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">
            <h6 class="card-title" style="font-weight: bold; text-transform: uppercase;">Pending Transactions</h6>
          </div>
          <div class="card-body d-flex">
            <i class="fas fa-receipt fa-3x"></i>
            <h5 class="card-title" style="font-size: 3rem; margin-left: 1rem; font-weight: bold;">{{ pending }}</h5>
          </div>
        </div>
      </div>

      <div class="col container-fluid">
        <div class="card text-white bg-danger mb-3">
          <div class="card-header">
            <h6 class="card-title" style="font-weight: bold; text-transform: uppercase;">Rejected Transactions</h6>
          </div>
          <div class="card-body d-flex">
            <i class="fas fa-ban fa-3x"></i>
            <h5 class="card-title" style="font-size: 3rem; margin-left: 1rem; font-weight: bold;">{{ rejected }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end transactions cards -->
  
</main>


{% endblock %}